---
import { CollectionEntry, getCollection } from "astro:content";
import { HeadingScrollObserver, TOC } from "../../components/TOC";
import Layout from "../../layouts/Layout.astro";

export async function getStaticPaths() {
  const blog = await getCollection("blog");
  return blog.map((post) => ({
    params: { slug: post.slug },
    props: post,
  }));
}

type Props = CollectionEntry<"blog">;
const { data, render } = Astro.props;

const { Content, headings } = await render();
---

<Layout title={data.title}>
  <main>
    <header>
      <TOC client:idle {headings} />
    </header>
    <article>
      <h1>{data.title}</h1>
      <HeadingScrollObserver client:idle>
        <Content />
      </HeadingScrollObserver>
    </article>
  </main>
</Layout>

<style>
  header {
    position: sticky;
    top: 1rem;
  }

  article {
    max-width: 60ch;
    margin: 0 auto;
  }

  article :global(img) {
    max-width: 100%;
  }

  article :global(:is(h1, h2, h3)) {
    font-size: 1.7rem;
    margin: 2rem 0 1rem;
  }
</style>
